<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul class="container">
        <li>
          <a href="/">Home</a>
          <a href="/ducks">Ducks</a>
          <a href="/ducks/people">Duck owners and ducks</a>
          <a href="/ducks/create">Create a duck</a>
        </li>
      </ul>
    </nav>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>
