<h1>Create duck</h1>

<form method="POST" action="/ducks">

  <div class="field" >
    <label>Duck Name</label>
    <input type="text" name="name"/>
  </div>

  <div class="field" >
    <label>Duck Year</label>
    <input type="number" name="year"/>
  </div>

  <div class="field" >
    <label>typeof Duck</label>
    <input type="text" name="type"/>
  </div>

   <div class="field" >
    <label>Duck owner</label>
    <input type="text" name="ownerName"/>
  </div>

  <div class="field submit">
    <button type="submit">Save a duck</button>
  </div>
</form>